.env
.env.local
.env.*.local
.env.production
.env.development
logs
*.log
npm-debug.log*
node_modules/
coverage
.nyc_output
.vscode/
.idea/
*.swp
.DS_Store
dist/
build/
*.tmp
.cache/
*.pem
*.key
*.cert
*.sqlite
Thumbs.db
